.navbar-nav li{
    margin-right: 20px;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.navbar-nav li:hover{
    background: #d2d046;
    padding: 05px;
    transition: 500ms;
}

.engimg-content{
    background-color: #d2d046;
}
.engimg-content h3{
font-size: 30px;
font-weight: bolder;
}
.engimg-img img{
    width:100%;
    height: auto;
}
